In [1]:
import pandas as pd

In [2]:
crime_file = "Resources/sf_crime.csv"
crime_db = pd.read_csv(crime_file)
crime_db.head()

,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,...,Incident Description,Resolution,Intersection,CNN,Police District,Analysis Neighborhood,Supervisor District,Latitude,Longitude,point
0,1/1/2018 1:30,1/1/2018,1:30,2018,Monday,1/1/2018 2:13,61870203073,618702,180000263,180010563.0,...,"Robbery, W/ Other Weapon",Open or Active,JUSTIN DR \ COLLEGE AVE,21236000.0,Ingleside,Bernal Heights,9.0,37.732261,-122.423486,"(37.732261252752224, -122.42348641495892)"
1,1/1/2018 1:59,1/1/2018,1:59,2018,Monday,1/1/2018 1:59,61870768000,618707,180000326,180010504.0,...,Fire Report,Open or Active,16TH ST \ MISSION ST,24170000.0,Mission,Mission,9.0,37.765051,-122.419669,"(37.76505133632968, -122.41966897380142)"
2,1/1/2018 2:28,1/1/2018,2:28,2018,Monday,1/1/2018 2:31,61870904134,618709,180000348,180010636.0,...,Battery,Open or Active,03RD ST \ PERRY ST,20657000.0,Southern,South of Market,6.0,37.782119,-122.396841,"(37.78211912156566, -122.39684142850209)"
3,1/1/2018 2:28,1/1/2018,2:28,2018,Monday,1/1/2018 2:31,61870928160,618709,180000348,180010636.0,...,"Malicious Mischief, Vandalism to Vehicle",Open or Active,03RD ST \ PERRY ST,20657000.0,Southern,South of Market,6.0,37.782119,-122.396841,"(37.78211912156566, -122.39684142850209)"
4,1/1/2018 2:08,1/1/2018,2:08,2018,Monday,1/1/2018 2:08,61871004014,618710,180000285,180010537.0,...,"Assault, Aggravated, W/ Force",Cite or Arrest Adult,CESAR CHAVEZ ST \ CAPP ST \ MISSION ST,21304000.0,Mission,Bernal Heights,9.0,37.748166,-122.418221,"(37.74816568813204, -122.41822117169174)"

In [3]:
crime = crime_db[['Incident Date', 'Incident Year', 'Analysis Neighborhood', 'Incident Description', 'Latitude', 'Longitude']]
crime.count()

Incident Date            111531
Incident Year            111531
Analysis Neighborhood    105913
Incident Description     111531
Latitude                 105956
Longitude                105956
dtype: int64

In [4]:
crime = crime.dropna()
crime.count()

Incident Date            105913
Incident Year            105913
Analysis Neighborhood    105913
Incident Description     105913
Latitude                 105913
Longitude                105913
dtype: int64

In [5]:
crime.head()

,Incident Date,Incident Year,Analysis Neighborhood,Incident Description,Latitude,Longitude
0,1/1/2018,2018,Bernal Heights,"Robbery, W/ Other Weapon",37.732261,-122.423486
1,1/1/2018,2018,Mission,Fire Report,37.765051,-122.419669
2,1/1/2018,2018,South of Market,Battery,37.782119,-122.396841
3,1/1/2018,2018,South of Market,"Malicious Mischief, Vandalism to Vehicle",37.782119,-122.396841
4,1/1/2018,2018,Bernal Heights,"Assault, Aggravated, W/ Force",37.748166,-122.418221

In [6]:
crime = crime.rename(columns={'Analysis Neighborhood': 'Neighborhood'})

In [18]:
crime.head()

,Incident Date,Incident Year,Neighborhood,Incident Description,Latitude,Longitude
0,2018/01/01,2018,Bernal Heights,"Robbery, W/ Other Weapon",37.732261,-122.423486
1,2018/01/01,2018,Mission,Fire Report,37.765051,-122.419669
2,2018/01/01,2018,South of Market,Battery,37.782119,-122.396841
3,2018/01/01,2018,South of Market,"Malicious Mischief, Vandalism to Vehicle",37.782119,-122.396841
4,2018/01/01,2018,Bernal Heights,"Assault, Aggravated, W/ Force",37.748166,-122.418221